---
import "../../styles/global.css";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { initI18n } from "../../../i18n/i18n.js";
import { getLocalizedPaths } from "../../../helpers/utils.ts";
import { useLang } from "../../../helpers/context.ts";

export async function getStaticPaths() {
  return getLocalizedPaths();
}

const lang = useLang(Astro);
const i18n = await initI18n(lang);
const t = i18n.t.bind(i18n);

const faviconIcon = "../../../../public/favicon.png";
---

<BaseLayout lang={lang}>
  <Fragment slot="title">{t("not_found.title")}</Fragment>

  <div id="page-404-container">
    <div class="place-items-center">
      <img src={faviconIcon} alt="Zigzag logo" class="w-1/2 h-1/2 mb-6" />
      <h1 class="mb-3 text-4xl font-bold">{t("not_found.title")}</h1>
      <p class="mb-6 text-gray-600">{t("not_found.description")}</p>
      <a href={`/${lang}/`} class="text-blue-600 underline">
        ← {t("title")}
      </a>
    </div>
  </div>
</BaseLayout>

<style>
  #page-404-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
