---
import "../styles/global.css";
import HomeComponent from "../components/Home.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import HeaderComponent from "../components/Header.astro";
import FooterComponent from "../components/Footer.astro";
import LanguageDropdownComponent from "../components/LanguageDropdown.astro";	
---

<BaseLayout>
	<HeaderComponent />
	<HomeComponent />

	<h1 id="welcome"></h1>
	<p id="hello"></p>
	<LanguageDropdownComponent />

	<FooterComponent />
</BaseLayout>