---
import "../styles/global.css";
import HomeComponent from "../components/Home.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import HeaderComponent from "../components/Header.astro";
import FooterComponent from "../components/Footer.astro";
import LanguageDropdownComponent from "../components/LanguageDropdown.astro";
// import SelectClient from "../components/LanguageDropdown.js";
import ButtonWithIconComponent from "../components/core/ButtonWithIcon.astro";
import PartnerProgramIcon from "../../public/images/icons/partner-program.svg";
import i18next from "../i18n.ts";

const { t } = i18next;
---

<BaseLayout>
	<HeaderComponent />

	<!-- <select id="countrySelect">
		<option value="es">Spain</option>
		<option value="fr">France</option>
	</select> -->

	<LanguageDropdownComponent
		id="languageDdlIndex"
		name="languageDdlIndex"
	/>

	<!-- <LanguageDropdownComponent
		id="languageDdlIndex2"
		name="languageDdlIndex"
	/> -->

	<HomeComponent />
	<FooterComponent />
</BaseLayout>

<!-- <script type="module">
	// safe: run after the element exists in the DOM
	const countrySelect = document.getElementById("countrySelect");
	console.log("select id:", countrySelect.id); // -> "countrySelect"
	countrySelect.addEventListener("change", (e) => {
		console.log("selected value:", e.target.value);
	});
</script> -->
