---
import HomeComponent from "../components/Home.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import HeaderComponent from "../components/Header.astro";
import FooterComponent from "../components/Footer.astro";
import "../styles/global.css";
---

<BaseLayout>
	<HeaderComponent />
	<HomeComponent />
	<h1 id="welcome"></h1>
	<p id="hello"></p>

	<div id="lang-switcher"></div>
	<!-- buttons will be created here -->

	<!-- <button class="border-2 rounded-md p-1" id="btn-en">English</button>
	<button class="border-2 rounded-md p-1" id="btn-fr">Français</button>
	<button class="border-2 rounded-md p-1" id="btn-es">Español</button> -->
	<FooterComponent />
</BaseLayout>

<script>
	import i18next from "../i18n.js";

	// function to update all texts
	function updateContent() {
		document.getElementById("welcome")!.innerText = i18next.t("welcome");
		document.getElementById("hello")!.innerText = i18next.t("hello");
	}

	// // wait until translations are loaded
	// // update UI when initialized or language changes
	// i18next.on("initialized", () => {
	// 	updateContent();
	// });

	// i18next.on("languageChanged", () => {
	// 	updateContent();
	// });

	// // language switch buttons
	// document.getElementById("btn-en")!.addEventListener("click", () => {
	// 	i18next.changeLanguage("en").then(updateContent);
	// });

	// document.getElementById("btn-fr")!.addEventListener("click", () => {
	// 	i18next.changeLanguage("fr").then(updateContent);
	// });

	// document.getElementById("btn-es")!.addEventListener("click", () => {
	// 	i18next.changeLanguage("es").then(updateContent);
	// });

	// initialize UI
	i18next.on("initialized", () => {
		updateContent();

		// dynamically build language switcher
		const container = document.getElementById("lang-switcher");
		container!.innerHTML = ""; // clear old buttons

		// Static list
		// if (Array.isArray(i18next.options.supportedLngs)) {
		// 	i18next.options.supportedLngs?.forEach((lng: string) => {
		// 		if (lng === "cimode") return; // i18next internal test mode, skip
		// 		const btn = document.createElement("button");
		// 		btn.innerText = lng.toUpperCase();
		// 		btn.addEventListener("click", () =>
		// 			i18next.changeLanguage(lng),
		// 		);
		// 		container!.appendChild(btn);
		// 	});
		// }

		// Dynamic list from config file
		fetch("/locales/languages.json")
		.then((res) => res.json())
		.then((langs) => {
			const container = document.getElementById("lang-switcher");
			langs.forEach((lng: string) => {
				const btn = document.createElement("button");
				btn.innerText = lng.toUpperCase();
				btn.addEventListener("click", () =>
					i18next.changeLanguage(lng),
				);
				container!.appendChild(btn);
			});
		});
	});

	i18next.on("languageChanged", () => updateContent());

</script>
