---
import ProductsComponent from "../components/Products.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import HeaderComponent from "../components/Header.astro";
import FooterComponent from "../components/Footer.astro";
import { initI18n } from "../i18n/i18n.js";

const lang = "en";
const i18n = await initI18n(lang);
const t = i18n.t.bind(i18n);
---

<BaseLayout lang={lang}>
  <Fragment slot="title">{t("title")}</Fragment>
  <h1>{t("title")}</h1>
  <p>{t("description")}</p>
  <!-- <HeaderComponent /> -->
  <ProductsComponent />
  <!-- <FooterComponent /> -->
</BaseLayout>
