---
import TitleComponent from '../Title.astro';
import TextComponent from '../Text.astro';
---

<div id="page-container" class="m-4">
    <section>
        <TitleComponent classes="h2 heading-2-desktop" content="Sistemas de Seguridad VESTA: una solución para cada necesidad" />
        <TextComponent classes="b0 body-0" content="Tres tecnologías de comunicación que se adaptan a cualquier problemática de hogar o negocio, con diversas  posibilidades de zonas y particiones, así como más de 70 dispositivos  propios y la integración de marcas líderes de videovigilancia, intrusión y domótica." />
    </section>
    
</div>

