---
import ImageComponent from "../components/core/Image.astro";
import ButtonComponent from "../components/core/Button.astro";
import LabelComponent from "./core/Label.astro";
import LinkComponent from "./core/Link.astro";

// import i18next from "../i18n.old.ts";
// const { t } = i18next;

import { initI18n } from "../i18n/i18n.ts";
import { useLang } from "../helpers/context.ts";
import { getLocalizedPaths } from "../helpers/utils.ts";

export async function getStaticPaths() {
  return getLocalizedPaths();
}

const lang = useLang(Astro);
const i18n = await initI18n(lang);
const t = i18n.t.bind(i18n);

const LogoVestaMediumDarkModeImagePath =
  "/images/logos/logo-vesta-medium-dark-mode-min.svg";
const LogoVestaLargeDarkModeImagePath =
  "/images/logos/logo-vesta-large-dark-mode-min.svg";
const LinkedinImagePath = "/images/linkedin-min.svg";
const AppleStoreImagePath = "/images/app-store-min.svg";
const GooglePlayImagePath = "/images/google-play-min.svg";
---

<div
  class="grid grid-cols-1 items-center md:items-start gap-4 lg:gap-5 xl:gap-6 bg-primary-20-dark px-8 xl:px-12 2xl:px-24 py-6 lg:py-8 xl:py-12 2xl:pt-24 2xl:pb-12 text-white md:grid-cols-6"
>
  <!-- Column 1 -->
  <div
    class="flex flex-col space-y-1 md:space-y-2 lg:space-y-4 text-center md:text-left"
  >
    <LabelComponent
      id="security-alarm-label"
      variantLabel="label-2 text-secondary-90-light text-14 lg:text-16 text-line-height-20"
      text={t("footer.security_alarm")}
    />
    <ul class="space-y-0 md:space-y-1 lg:space-y-2">
      <li>
        <LinkComponent
          id="alarma-via-radio-link"
          variantLink="link caption text-10 md:text-12 text-line-height-14 link:hover focus:outline-none focus:text-primary-10-light"
          text={t("footer.radio_alarm")}
          href="#"
        />
      </li>
      <li>
        <LinkComponent
          id="alarma-a-pilas-link"
          variantLink="link caption text-10 md:text-12 text-line-height-14 link:hover focus:outline-none focus:text-primary-10-light"
          text={t("footer.battery_powered_alarm")}
          href="#"
        />
      </li>
      <li>
        <LinkComponent
          id="alarma-hibrida-link"
          variantLink="link caption text-10 md:text-12 text-line-height-14 link:hover focus:outline-none focus:text-primary-10-light"
          text={t("footer.hybrid_alarm")}
          href="#"
        />
      </li>
    </ul>
  </div>

  <!-- Column 2 -->
  <div
    class="flex flex-col space-y-1 md:space-y-2 lg:space-y-4 text-center md:text-left"
  >
    <LabelComponent
      id="medical-alarm-label"
      variantLabel="label-2 text-secondary-90-light text-14 lg:text-16 text-line-height-20"
      text={t("footer.medical_alarm")}
    />
    <ul class="space-y-0 md:space-y-1 lg:space-y-2">
      <li>
        <LinkComponent
          id="serie-mobile-pro-link"
          variantLink="link caption text-10 md:text-12 text-line-height-14 link:hover focus:outline-none focus:text-primary-10-light"
          text={t("footer.mobile_pro_series")}
          href="#"
        />
      </li>
      <li>
        <LinkComponent
          id="serie-mx-link"
          variantLink="link caption text-10 md:text-12 text-line-height-14 link:hover focus:outline-none focus:text-primary-10-light"
          text={t("footer.mx_series")}
          href="#"
        />
      </li>
      <li>
        <LinkComponent
          id="serie-gx-link"
          variantLink="link caption text-10 md:text-12 text-line-height-14 link:hover focus:outline-none focus:text-primary-10-light"
          text={t("footer.gx_series")}
          href="#"
        />
      </li>
    </ul>
  </div>

  <!-- Column 3 -->
  <div
    class="flex flex-col space-y-2 md:space-y-4 lg:space-y-6 text-center md:text-left"
  >
    <div
      class="flex flex-col space-y-1 md:space-y-2 lg:space-y-4 text-center md:text-left"
    >
      <LabelComponent
        id="video-surveillance-label"
        variantLabel="label-2 text-secondary-90-light text-14 lg:text-16 text-line-height-20"
        text={t("footer.video_surveillance")}
      />
      <ul class="space-y-0 md:space-y-1 lg:space-y-2">
        <li>
          <LinkComponent
            id="vesta-home-video-link"
            variantLink="link caption text-10 md:text-12 text-line-height-14 link:hover focus:outline-none focus:text-primary-10-light"
            text={t("footer.vesta_home_video")}
            href="#"
          />
        </li>
        <li>
          <LinkComponent
            id="vesta-advances-video-link"
            variantLink="link caption text-10 md:text-12 text-line-height-14 link:hover focus:outline-none focus:text-primary-10-light"
            text={t("footer.vesta_advanced_video")}
            href="#"
          />
        </li>
      </ul>
    </div>
    <div
      class="flex flex-col space-y-1 md:space-y-2 lg:space-y-4 text-center md:text-left"
    >
      <LabelComponent
        id="general-catalog-label"
        variantLabel="label-2 text-secondary-90-light text-14 lg:text-16 text-line-height-20"
        text={t("footer.general_catalog")}
      />
      <ul class="space-y-0 md:space-y-1 lg:space-y-2">
        <li>
          <LinkComponent
            id="todos-los-productos-link"
            variantLink="link caption text-10 md:text-12 text-line-height-14 link:hover focus:outline-none focus:text-primary-10-light"
            text={t("footer.all_products")}
            href="#"
          />
        </li>
      </ul>
    </div>
  </div>

  <!-- Column 4 -->
  <div
    class="flex flex-col space-y-2 md:space-y-4 lg:space-y-6 text-center md:text-left"
  >
    <div class="flex flex-col space-y-1 md:space-y-2 lg:space-y-4">
      <LabelComponent
        id="news-and-events-label"
        variantLabel="label-2 text-secondary-90-light text-14 lg:text-16 text-line-height-20"
        text={t("header.news_and_events")}
      />
      <ul class="space-y-0 md:space-y-1 lg:space-y-2">
        <li>
          <LinkComponent
            id="blog-de-noticias-link"
            variantLink="link caption text-10 md:text-12 text-line-height-14 link:hover focus:outline-none focus:text-primary-10-light"
            text={t("footer.news_blog")}
            href="#"
          />
        </li>
        <li>
          <LinkComponent
            id="academia-vesta-link"
            variantLink="link caption text-10 md:text-12 text-line-height-14 link:hover focus:outline-none focus:text-primary-10-light"
            text={t("footer.vesta_academy")}
            href="#"
          />
        </li>
      </ul>
    </div>
    <div
      class="flex flex-col space-y-1 md:space-y-2 lg:space-y-4 text-center md:text-left"
    >
      <LabelComponent
        id="about-vesta-security-label"
        variantLabel="label-2 text-secondary-90-light text-14 lg:text-16 text-line-height-20"
        text={t("header.about_vesta_security")}
      />
      <ul class="space-y-0 md:space-y-1 lg:space-y-2">
        <li>
          <LinkComponent
            id="acerca-de-nosotros-link"
            variantLink="link caption text-10 md:text-12 text-line-height-14 link:hover focus:outline-none focus:text-primary-10-light"
            text={t("footer.about_us")}
            href="#"
          />
          <li>
            <LinkComponent
              id="vesta-partner-program-link"
              variantLink="link caption text-10 md:text-12 text-line-height-14 link:hover focus:outline-none focus:text-primary-10-light"
              text={t("header.vesta_partner_program")}
              href="#"
            />
          </li>
        </li>
      </ul>
    </div>
  </div>

  <!-- Column 5 -->
  <div
    class="flex flex-col space-y-1 md:space-y-2 lg:space-y-4 text-center md:text-left"
  >
    <LabelComponent
      id="software-label"
      variantLabel="label-2 text-secondary-90-light text-14 lg:text-16 text-line-height-20"
      text={t("footer.software")}
    />
    <ul class="space-y-0 md:space-y-1 lg:space-y-2">
      <li>
        <LinkComponent
          id="smart-home-sec-link"
          variantLink="link caption text-10 md:text-12 text-line-height-14 link:hover focus:outline-none focus:text-primary-10-light"
          text={t("footer.smart_home_sec")}
          href="#"
        />
      </li>
      <li>
        <LinkComponent
          id="medAlert-shs-link"
          variantLink="link caption text-10 md:text-12 text-line-height-14 link:hover focus:outline-none focus:text-primary-10-light"
          text={t("footer.medAlert_shs")}
          href="#"
        />
      </li>
    </ul>

    <div
      class="flex flex-col gap-2 md:gap-3 lg:gap-4 items-center justify-center md:items-start md:justify-start"
    >
      <ButtonComponent
        id="footer-apple-store-btn"
        hasLabel="false"
        hasImage="true"
        imagePath={AppleStoreImagePath}
        imageAltText="Apple Store button"
        href="https://www.apple.com/store"
        type="button"
        variantImage="h-11 w-32 mt-1 lg:mt-0 cursor-pointer hover:animate-wiggle-3"
      />
      <ButtonComponent
        id="footer-google-play-btn"
        hasLabel="false"
        hasImage="true"
        imagePath={GooglePlayImagePath}
        imageAltText="Google Play button"
        href="https://play.google.com/store/apps?hl=en"
        type="button"
        variantImage="h-11 w-32 cursor-pointer hover:animate-wiggle-3"
      />
    </div>
  </div>

  <!-- Column 6(Logo) -->
  <div
    class="flex flex-col items-center justify-center md:items-start md:justify-start gap-1 md:gap-6"
  >
    <div class="flex items-center space-x-2">
      <div class="flex items-center space-x-2">
        <!-- Icon (placeholder box) -->
        <div class="h-7 w-5 md:h-8 md:w-6 lg:h-10 lg:w-7 rounded bg-sky-300">
        </div>
        <span
          class="font-bold text-2xl md:text-3xl lg:text-4xl text-secondary-90-light"
          >Zigzag</span
        >
      </div>
    </div>
    <div class="flex flex-row gap-1 lg:gap-4">
      <ImageComponent
        id="LinkedinImage"
        path={LinkedinImagePath}
        altText="Linkedin image"
        variantImage="w-7/8 h-7/8 md:w-3/4 md:h-3/4 lg:w-1/1 lg:h-1/1 cursor-pointer hover:animate-wiggle-5"
      />
      <ImageComponent
        id="LinkedinImage"
        path={LinkedinImagePath}
        altText="Linkedin image"
        variantImage="w-7/8 h-7/8 md:w-3/4 md:h-3/4 lg:w-1/1 lg:h-1/1 cursor-pointer hover:animate-wiggle-5"
      />
    </div>
  </div>
</div>
