---
import ImageComponent from "../components/core/Image.astro";

const LogoVestaMediumDarkModeImagePath =
  "/images/logos/logo-vesta-medium-dark-mode-min.svg";
const LogoVestaLargeDarkModeImagePath =
  "/images/logos/logo-vesta-large-dark-mode-min.svg";
const LinkedinImagePath = "/images/Linkedin-min.svg";
---

<div
  class="grid grid-cols-1 items-center md:items-start gap-6 bg-primary-20-dark px-24 py-24 pb-12 text-white md:grid-cols-6"
>
  <!-- Column 1 -->
  <div class="space-y-4 text-center md:text-left">
    <h3
      class="text-md font-bold text-secondary-90-light"
      data-i18n="footer.security_alarm"
    >
    </h3>
    <ul class="space-y-2">
      <li>
        <a
          id="alarma-via-radio"
          href="#"
          class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
          data-i18n="footer.radio_alarm"></a>
      </li>
      <li>
        <a
          id="alarma-a-pilas"
          href="#"
          class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
          data-i18n="footer.battery_powered_alarm"></a>
      </li>
      <li>
        <a
          id="alarma-hibrida"
          href="#"
          class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
          data-i18n="footer.hybrid_alarm"></a>
      </li>
    </ul>
  </div>

  <!-- Column 2 -->
  <div class="space-y-4 text-center md:text-left">
    <h3
      class="text-md font-bold text-secondary-90-light"
      data-i18n="footer.medical_alarm"
    >
    </h3>
    <ul class="space-y-2">
      <li>
        <a
          id="serie-mobile-pro"
          href="#"
          class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
          data-i18n="footer.mobile_pro_series"></a>
      </li>
      <li>
        <a
          id="serie-mx"
          href="#"
          class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
          data-i18n="footer.mx_series"></a>
      </li>
      <li>
        <a
          id="serie-gx"
          href="#"
          class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
          data-i18n="footer.gx_series"></a>
      </li>
    </ul>
  </div>

  <!-- Column 3 -->
  <div>
    <div class="space-y-4 text-center md:text-left">
      <h3
        class="text-md font-bold text-secondary-90-light"
        data-i18n="footer.video_surveillance"
      >
      </h3>
      <ul class="space-y-2">
        <li>
          <a
            id="vesta-home-video"
            href="#"
            class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
            data-i18n="footer.vesta_home_video"></a>
        </li>
        <li>
          <a
            id="vesta-advances-video"
            href="#"
            class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
            data-i18n="footer.vesta_advanced_video"></a>
        </li>
      </ul>
    </div>
    <div class="mt-6 space-y-4 text-center md:text-left">
      <h3
        class="text-md font-bold text-secondary-90-light"
        data-i18n="footer.general_catalog"
      >
      </h3>
      <ul class="space-y-2">
        <li>
          <a
            id="todos-los-productos"
            href="#"
            class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
            data-i18n="footer.all_products"></a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Column 4 -->
  <div>
    <div class="space-y-4 text-center md:text-left">
      <h3
        class="text-md font-bold text-secondary-90-light"
        data-i18n="header.news_and_events"
      >
      </h3>
      <ul class="space-y-2">
        <li>
          <a
            id="blog-de-noticias"
            href="#"
            class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
            data-i18n="footer.news_blog"></a>
        </li>
        <li>
          <a
            id="academia-vesta"
            href="#"
            class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
            data-i18n="footer.vesta_academy"></a>
        </li>
      </ul>
    </div>
    <div class="mt-6 space-y-4 text-center md:text-left">
      <h3
        class="text-md font-bold text-secondary-90-light"
        data-i18n="header.about_vesta_security"
      >
      </h3>
      <ul class="space-y-2">
        <li>
          <a
            id="acerca-de-nosotros"
            href="#"
            class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
            data-i18n="footer.about_us"></a>
        </li>
        <li>
          <a
            id="vesta-partner-program"
            href="#"
            class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
            data-i18n="header.vesta_partner_program"></a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Column 5 -->
  <div class="space-y-4 text-center md:text-left">
    <h3
      class="text-md font-bold text-secondary-90-light"
      data-i18n="footer.software"
    >
    </h3>
    <a
      href="#"
      class="block text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
      data-i18n="footer.smart_home_sec"></a>
    <a
      href="#"
      class="block text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
      data-i18n="footer.medAlert_shs"></a>
    <div
      class="flex flex-col gap-4 items-center justify-center md:items-start md:justify-start"
    >
      <a
        href="https://www.apple.com/store"
        target="_blank"
        class="hover:animate-wiggle"
      >
        <img
          src="./images/available_on_the_app_store_apple_button-min-modified-min.png"
          alt="App Store"
          class="h-11 w-32"
        />
      </a>
      <a
        href="https://play.google.com/store/apps?hl=en"
        target="_blank"
        class="hover:animate-wiggle"
      >
        <img
          src="./images/get_it_on_google_play_button-min-modified-min.png"
          alt="Google Play"
          class="h-11 w-32"
        />
      </a>
    </div>
  </div>

  <!-- Column 6(Logo) -->
  <div
    class="flex flex-col items-center justify-center md:items-start md:justify-start gap-6"
  >
    <div class="flex place-self-center">
      <ImageComponent
        id="LogoVestaLargeDarkMode"
        path={LogoVestaLargeDarkModeImagePath}
        altText="Logo Vesta large dark mode"
        variantImage="hidden md:flex"
      />
      <ImageComponent
        id="LogoVestaMediumDarkMode"
        path={LogoVestaMediumDarkModeImagePath}
        altText="Logo Vesta large dark mode"
        variantImage="w-3/4 h-3/4 sm:w-3/4 sm:h-3/4 md:hidden place-self-center"
      />
    </div>
    <div class="flex flex-row gap-1">
      <ImageComponent
        id="LinkedinImage"
        path={LinkedinImagePath}
        altText="Linkedin image"
        variantImage="w-3/4 h-3/4 sm:w-5/8 sm:h-5/8"
      />
      <ImageComponent
        id="LinkedinImage"
        path={LinkedinImagePath}
        altText="Linkedin image"
        variantImage="w-3/4 h-3/4 sm:w-5/8 sm:h-5/8"
      />
    </div>
  </div>
</div>
