<div
    class="grid grid-cols-1 items-center md:items-start gap-6 bg-primary-20-dark px-24 py-24 pb-12 text-white md:grid-cols-6"
>
    <!-- Column 1 -->
    <div class="space-y-4 text-center md:text-left">
        <h3
            class="text-md font-bold text-secondary-90-light"
            data-i18n="footer.security_alarm"
        >
        </h3>
        <ul class="space-y-2">
            <li>
                <a
                    id="alarma-via-radio"
                    href="#"
                    class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
                    data-i18n="footer.radio_alarm"></a>
            </li>
            <li>
                <a
                    id="alarma-a-pilas"
                    href="#"
                    class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
                    data-i18n="footer.battery_powered_alarm"></a>
            </li>
            <li>
                <a
                    id="alarma-hibrida"
                    href="#"
                    class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
                    data-i18n="footer.hybrid_alarm"></a>
            </li>
        </ul>
    </div>

    <!-- Column 2 -->
    <div class="space-y-4 text-center md:text-left">
        <h3
            class="text-md font-bold text-secondary-90-light"
            data-i18n="footer.medical_alarm"
        >
        </h3>
        <ul class="space-y-2">
            <li>
                <a
                    id="serie-mobile-pro"
                    href="#"
                    class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
                    data-i18n="footer.mobile_pro_series"></a>
            </li>
            <li>
                <a
                    id="serie-mx"
                    href="#"
                    class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
                    data-i18n="footer.mx_series"></a>
            </li>
            <li>
                <a
                    id="serie-gx"
                    href="#"
                    class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
                    data-i18n="footer.gx_series"></a>
            </li>
        </ul>
    </div>

    <!-- Column 3 -->
    <div>
        <div class="space-y-4 text-center md:text-left">
            <h3
                class="text-md font-bold text-secondary-90-light"
                data-i18n="footer.video_surveillance"
            >
            </h3>
            <ul class="space-y-2">
                <li>
                    <a
                        id="vesta-home-video"
                        href="#"
                        class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
                        data-i18n="footer.vesta_home_video"></a>
                </li>
                <li>
                    <a
                        id="vesta-advances-video"
                        href="#"
                        class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
                        data-i18n="footer.vesta_advanced_video"></a>
                </li>
            </ul>
        </div>
        <div class="mt-6 space-y-4 text-center md:text-left">
            <h3
                class="text-md font-bold text-secondary-90-light"
                data-i18n="footer.general_catalog"
            >
            </h3>
            <ul class="space-y-2">
                <li>
                    <a
                        id="todos-los-productos"
                        href="#"
                        class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
                        data-i18n="footer.all_products"></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Column 4 -->
    <div>
        <div class="space-y-4 text-center md:text-left">
            <h3
                class="text-md font-bold text-secondary-90-light"
                data-i18n="header.news_and_events"
            >
            </h3>
            <ul class="space-y-2">
                <li>
                    <a
                        id="blog-de-noticias"
                        href="#"
                        class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
                        data-i18n="footer.news_blog"></a>
                </li>
                <li>
                    <a
                        id="academia-vesta"
                        href="#"
                        class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
                        data-i18n="footer.vesta_academy"></a>
                </li>
            </ul>
        </div>
        <div class="mt-6 space-y-4 text-center md:text-left">
            <h3
                class="text-md font-bold text-secondary-90-light"
                data-i18n="header.about_vesta_security"
            >
            </h3>
            <ul class="space-y-2">
                <li>
                    <a
                        id="acerca-de-nosotros"
                        href="#"
                        class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
                        data-i18n="footer.about_us"></a>
                </li>
                <li>
                    <a
                        id="vesta-partner-program"
                        href="#"
                        class="text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
                        data-i18n="header.vesta_partner_program"></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Column 5 -->
    <div class="space-y-4 text-center md:text-left">
        <h3
            class="text-md font-bold text-secondary-90-light"
            data-i18n="footer.software"
        >
        </h3>
        <a
            href="#"
            class="block text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
            data-i18n="footer.smart_home_sec"></a>
        <a
            href="#"
            class="block text-sm underline text-secondary-60-light hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
            data-i18n="footer.medAlert_shs"></a>
        <div
            class="flex flex-col gap-4 items-center justify-center md:items-start md:justify-start"
        >
            <a
                href="https://www.apple.com/store"
                target="_blank"
                class="hover:animate-wiggle"
            >
                <img
                    src="./images/available_on_the_app_store_apple_button-min-modified-min.png"
                    alt="App Store"
                    class="h-11 w-32"
                />
            </a>
            <a
                href="https://play.google.com/store/apps?hl=en"
                target="_blank"
                class="hover:animate-wiggle"
            >
                <img
                    src="./images/get_it_on_google_play_button-min-modified-min.png"
                    alt="Google Play"
                    class="h-11 w-32"
                />
            </a>
        </div>
    </div>

    <!-- Column 6(Logo) -->
    <div
        class="flex flex-col items-center justify-center md:items-start md:justify-start gap-6"
    >
        <div class="flex items-center space-x-2">
            <div class="flex items-center space-x-2">
                <!-- Icon (placeholder box) -->
                <div
                    class="h-7 w-5 md:h-8 md:w-6 lg:h-10 lg:w-7 rounded bg-sky-300"
                >
                </div>
                <span
                    class="font-bold text-2xl md:text-3xl lg:text-4xl text-secondary-90-light"
                    >Vesta</span
                >
            </div>
        </div>
        <div class="flex flex-row gap-4">
            <a
                href="https://es.linkedin.com/"
                target="_blank"
                class="hover:animate-ping"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1"
                    width="30"
                    height="30"
                    viewBox="0 0 256 256"
                    xml:space="preserve"
                >
                    <g
                        style="
                           stroke: none;
                           stroke-width: 0;
                           stroke-dasharray: none;
                           stroke-linecap: butt;
                           stroke-linejoin: miter;
                           stroke-miterlimit: 10;
                           fill: none;
                           fill-rule: nonzero;
                           opacity: 1;
                        "
                        transform="translate(45.02412451361867 45.024124513618645) scale(1.83 1.83)"
                    >
                        <path
                            d="M 1.48 29.91 h 18.657 v 60.01 H 1.48 V 29.91 z M 10.809 0.08 c 5.963 0 10.809 4.846 10.809 10.819 c 0 5.967 -4.846 10.813 -10.809 10.813 C 4.832 21.712 0 16.866 0 10.899 C 0 4.926 4.832 0.08 10.809 0.08"
                            style="
                              stroke: none;
                              stroke-width: 1;
                              stroke-dasharray: none;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 10;
                              fill: #bde8fa;
                              fill-rule: nonzero;
                              opacity: 1;
                           "
                            transform=" matrix(1 0 0 1 0 0) "
                            stroke-linecap="round"></path>
                        <path
                            d="M 31.835 29.91 h 17.89 v 8.206 h 0.255 c 2.49 -4.72 8.576 -9.692 17.647 -9.692 C 86.514 28.424 90 40.849 90 57.007 V 89.92 H 71.357 V 60.737 c 0 -6.961 -0.121 -15.912 -9.692 -15.912 c -9.706 0 -11.187 7.587 -11.187 15.412 V 89.92 H 31.835 V 29.91 z"
                            style="
                              stroke: none;
                              stroke-width: 1;
                              stroke-dasharray: none;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 10;
                              fill: #bde8fa;
                              fill-rule: nonzero;
                              opacity: 1;
                           "
                            transform=" matrix(1 0 0 1 0 0) "
                            stroke-linecap="round"></path>
                    </g>
                </svg>
            </a>
            <a
                href="https://es.linkedin.com/"
                target="_blank"
                class="hover:animate-ping"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1"
                    width="30"
                    height="30"
                    viewBox="0 0 256 256"
                    xml:space="preserve"
                >
                    <g
                        style="
                           stroke: none;
                           stroke-width: 0;
                           stroke-dasharray: none;
                           stroke-linecap: butt;
                           stroke-linejoin: miter;
                           stroke-miterlimit: 10;
                           fill: none;
                           fill-rule: nonzero;
                           opacity: 1;
                        "
                        transform="translate(45.02412451361867 45.024124513618645) scale(1.83 1.83)"
                    >
                        <path
                            d="M 1.48 29.91 h 18.657 v 60.01 H 1.48 V 29.91 z M 10.809 0.08 c 5.963 0 10.809 4.846 10.809 10.819 c 0 5.967 -4.846 10.813 -10.809 10.813 C 4.832 21.712 0 16.866 0 10.899 C 0 4.926 4.832 0.08 10.809 0.08"
                            style="
                              stroke: none;
                              stroke-width: 1;
                              stroke-dasharray: none;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 10;
                              fill: #bde8fa;
                              fill-rule: nonzero;
                              opacity: 1;
                           "
                            transform=" matrix(1 0 0 1 0 0) "
                            stroke-linecap="round"></path>
                        <path
                            d="M 31.835 29.91 h 17.89 v 8.206 h 0.255 c 2.49 -4.72 8.576 -9.692 17.647 -9.692 C 86.514 28.424 90 40.849 90 57.007 V 89.92 H 71.357 V 60.737 c 0 -6.961 -0.121 -15.912 -9.692 -15.912 c -9.706 0 -11.187 7.587 -11.187 15.412 V 89.92 H 31.835 V 29.91 z"
                            style="
                              stroke: none;
                              stroke-width: 1;
                              stroke-dasharray: none;
                              stroke-linecap: butt;
                              stroke-linejoin: miter;
                              stroke-miterlimit: 10;
                              fill: #bde8fa;
                              fill-rule: nonzero;
                              opacity: 1;
                           "
                            transform=" matrix(1 0 0 1 0 0) "
                            stroke-linecap="round"></path>
                    </g>
                </svg>
            </a>
        </div>
    </div>
</div>
