---
// import LanguageDropdownComponent from "./LanguageDropdown.astro";
import ButtonWithIconComponent from "../components/core/ButtonWithIcon.astro";
import PartnerProgramIcon from "../../public/images/icons/partner-program.svg";
import i18next from "../i18n.ts";

const { t } = i18next;

---

<div id="header-top">
	<div class="shadow-sm">
		<div
			class="hidden md:flex h-10 items-center justify-end md:text-lg lg:text-xl/6"
		>
			<!-- Right: Links and actions -->
			<div class="flex items-center gap-8">
				<!-- Partner Program button with Icon -->
				<ButtonWithIconComponent
					id="partner-program-btn"
					label={t("header.vesta_partner_program")}
					icon={PartnerProgramIcon}
					variantLabel="variantLabel"
					variantIcon="h-6 w-6"
					type="button"
					href="/#"
				/>

				<!-- language select -->
				<!-- <div class="relative group z-10">
                        <button
                            id="desktop-language-selector"
                            type="button"
                            class="flex items-center pr-4 hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
                        >
                            Español
                            <svg
                                class="ml-2 h-4 w-4"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div
                            class="absolute right-0 w-36 py-3 bg-primary-light rounded-xl shadow-md inset-shadow-xs opacity-100 group-hover:opacity-100 invisible group-hover:visible transition-opacity"
                        >
                            <a
                                href="#"
                                class="block px-6 py-2 text-sm hover:bg-neutral-20"
                                >Español</a
                            >
                            <a
                                href="#"
                                class="block px-6 py-2 text-sm hover:bg-neutral-20"
                                >Inglés</a
                            >
                            <a
                                href="#"
                                class="block px-6 py-2 text-sm hover:bg-neutral-20"
                                >Francés</a
                            >
                            <a
                                href="#"
                                class="block px-6 py-2 text-sm hover:bg-neutral-20"
                                >Portugués</a
                            >
                        </div>
                    </div> -->

				<!-- ddl -->
				<!-- <LanguageDropdownComponent
                    id="languageDdlHeader"
                    name="languageDdlHeader"
                    classes=""
                    client:load
                /> -->
				<!-- value={selected} on:change={onChange}    -->
			</div>
		</div>
	</div>
</div>
