---
import LanguageDropdownComponent from "./LanguageDropdown.astro";
---

<div id="header-top">
    <div class="shadow-sm">
        <div
            class="hidden md:flex h-10 items-center justify-end md:text-lg lg:text-xl/6"
        >
            <!-- Right: Links and actions -->
            <div class="flex items-center gap-8">
                <!-- Partner Program button with Icon -->
                <button
                    type="button"
                    class="flex items-center pl-4 hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
                >
                    <span class="icon">
                        <svg
                            class="mr-2 h-6 w-6"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M5.121 17.804A9.936 9.936 0 0112 15c2.137 0 4.114.66 5.879 1.804M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                            ></path>
                        </svg>
                    </span>
                    <span data-i18n="header.vesta_partner_program"></span>
                </button>

                <!-- language select -->
                <!-- <div class="relative group z-10">
                        <button
                            id="desktop-language-selector"
                            type="button"
                            class="flex items-center pr-4 hover:text-secondary-20-dark focus:outline-none focus:text-primary-10-light"
                        >
                            Español
                            <svg
                                class="ml-2 h-4 w-4"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div
                            class="absolute right-0 w-36 py-3 bg-primary-light rounded-xl shadow-md inset-shadow-xs opacity-100 group-hover:opacity-100 invisible group-hover:visible transition-opacity"
                        >
                            <a
                                href="#"
                                class="block px-6 py-2 text-sm hover:bg-neutral-20"
                                >Español</a
                            >
                            <a
                                href="#"
                                class="block px-6 py-2 text-sm hover:bg-neutral-20"
                                >Inglés</a
                            >
                            <a
                                href="#"
                                class="block px-6 py-2 text-sm hover:bg-neutral-20"
                                >Francés</a
                            >
                            <a
                                href="#"
                                class="block px-6 py-2 text-sm hover:bg-neutral-20"
                                >Portugués</a
                            >
                        </div>
                    </div> -->

                <!-- ddl -->
                <!-- <LanguageDropdownComponent
                    id="languageDdlHeader"
                    name="languageDdlHeader"
                    classes=""
                    client:load
                /> -->
                <!-- value={selected} on:change={onChange}    -->
            </div>
        </div>
    </div>
</div>
