---
import i18next from "../i18n.ts";
import TitleComponent from "./core/Title.astro";
import TextComponent from "./core/Text.astro";
import ButtonWithoutIconComponent from "./core/ButtonWithoutIcon.astro";

const { t } = i18next;
---

<div id="page-container" >
	<TitleComponent
		id="section1-title"
		classes="text-sky-600 text-xl font-bold m-4"
		content={t("test.welcome")}
	/>
	<TextComponent
		id="section1-text"
		classes="m-4"
		content={t("test.hello")}
	/>
	<ButtonWithoutIconComponent
		id="section1-products-btn"
		label={t("test.products_page")}
		variantButton="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded m-4"
		variantLabel="text-white"
		type="button"
		href="/products"
	/>
</div>
