---
import "../i18n"; // import i18n config once
---

<div id="page-container" class="m-4">
	<p class="text-sky-600 text-xl font-bold mb-4" data-i18n="welcome"></p>
	<a href="/products">
		<button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" type="button" data-i18n="products_page"></button>
	</a>
</div>
