---
import i18next from "../i18n.ts";
import TitleComponent from "./core/Title.astro";
import ButtonComponent from "./core/Button.astro";

const { t } = i18next;
---

<div id="page-container" >
	<TitleComponent
		id="section1-title"
		variantTitle="text-sky-600 text-xl font-bold m-4"
		text={t("test.welcome")}
	/>
	<ButtonComponent
		id="section1-products-btn"
    hasLabel="true"
		label={t("test.products_page")}
		variantButton="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded m-4"
		variantLabel="text-white"
		type="button"
		href="/products"
	/>
</div>
