<div id="page-container" class="m-4">
	<p class="text-sky-600 text-xl font-bold mb-4">¡Bienvenido a la página de inicio!</p>
	<a href="/products">
		<button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" type="button" >Página de productos</button>
	</a>
</div>
