---
import TitleComponent from "./core/Title.astro";
import ButtonComponent from "./core/Button.astro";

// import i18next from "../i18n.old.ts";
// const { t } = i18next;

import { initI18n } from "../i18n/i18n.ts";
import { getLocalizedPaths } from "../helpers/utils.ts";
import { useLang } from "../helpers/context.ts";

export async function getStaticPaths() {
  return getLocalizedPaths();
}

const lang = useLang(Astro);
const i18n = await initI18n(lang);
const t = i18n.t.bind(i18n);
---

<div id="page-container">
  <TitleComponent
    id="section1-title"
    variantTitle="text-sky-600 text-md font-bold m-4"
    text={t("test.welcome")}
  />
  <ButtonComponent
    id="section1-products-btn"
    hasLabel="true"
    label={t("test.products_page")}
    variantButton="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded m-4"
    variantLabel="text-white"
    type="button"
    href="/products"
  />
</div>
