---
import TitleComponent from "./core/Title.astro";
import TextComponent from "./core/Text.astro";
import i18next from "i18next";

const { t } = i18next;
---

<div
  id="page-container"
  class="flex flex-col gap-8 mt-8 lg:mt-12 lg:gap-12 2xl:mt-24 2xl:gap-24"
>
  <section
    id="products-page-section-1"
    class="items-center px-4 md:px-6 lg:px-8 xl:py-12 xl:px-12 2xl:px-24"
  >
    <TitleComponent
      id="section1-title"
      classes="h2 text-39 line-height-45 lg:text-67 lg:line-height-78 heading-2-mobile pb-8 lg:pb-12 2xl:pb-24"
      content={t("product_page.vesta_security_systems")}
    />
    <TextComponent
      classes="b0 text-20 lg:text-24 body-0"
      content={t("product_page.three_communication_technologies")}
    />
  </section>
  <section id="products-page-section-2">
    <div class="flex flex-col p-4 lg:p-8 xl:p-12 2xl:p-24">
      <TitleComponent
        id="section2-title"
        classes="h3 text-31 line-height-36 lg:text-50 lg:line-height-59 heading-3-mobile pb-8 lg:pb-12 2xl:pb-24"
        content={t("product_page.radio_alarm_centers")}
      />
      <div class="flex flex-col md:flex-row md:gp-auto">
        <div id="card-container" class="gap-8 lg:p-12">
          <div class="flex flex-col gap-8 lg:gap-12">
            <div class="flex flex-col md:flex-row md:gap-6">
              <div>
                <img 
                  src="https://placehold.co/366x305?text=placeholder"
                  alt="placeholder"
                  class=""
                />
              </div>
              <div>bbb</div>
          </div>
          <div>cccc</div>
          </div>
          
          <div></div>
        </div>
      </div>
    </div>
  </section>
  <section id="products-page-section-3">
    <p>section 3</p>
  </section>
</div>
