---
import TitleComponent from "./Title.astro";
import TextComponent from "./Text.astro";
import i18next from "i18next";
---

<div id="page-container" class="m-4">
  <section>
    <!-- <TitleComponent classes="h2 heading-2-desktop" data-i18n="test.hello" /> -->
    <!-- <TextComponent classes="b0 body-0" data-i18n="test.products_page" /> -->
    <h1>product</h1>
  </section>
</div>

<script>
  // import i18next from "../i18n.js";

  // // function to update all texts
  // function updateContent() {
  //   document.getElementById("welcome")!.innerText = i18next.t("welcome");
  //   document.getElementById("hello")!.innerText = i18next.t("hello");
  // }

  // // initialize with default language
  // updateContent();

  // // language switch buttons
  // document.getElementById("btn-en")!.addEventListener("click", () => {
  //   i18next.changeLanguage("en").then(updateContent);
  // });

  // document.getElementById("btn-fr")!.addEventListener("click", () => {
  //   i18next.changeLanguage("fr").then(updateContent);
  // });
</script>
