---
import TitleComponent from "./core/Title.astro";
import TextComponent from "./core/Text.astro";
import i18next from "i18next";

const { t } = i18next;
---

<div id="page-container" class="flex flex-col items-start space-y-8 mt-8 lg:space-y-12 lg:mt-12 2xl:space-y-24 2xl:mt-24">
  <section id="products-page-section-1" class="items-center sm:px-4 md:px-6 lg:px-8 xl:py-12 xl:px-12 2xl:px-24">
    <TitleComponent
      id="section1-title"
      classes="h2 heading-2-desktop pb-8 lg:pb-12 2xl:pb-24"
      content={t("product_page.vesta_security_systems")}
    />
    <TextComponent
      classes="b0 body-0"
      content={t("product_page.three_communication_technologies")}
    />
  </section>
  <section id="products-page-section-2">
    <p>section 2</p>
  </section>
  <section id="products-page-section-3">
    <p>section 3</p>
  </section>
</div>
