---
import TitleComponent from "./core/Title.astro";
import TextComponent from "./core/Text.astro";
import i18next from "i18next";

const { t } = i18next;
---

<div id="page-container" class="m-4">
  <section class="p-12 gap-12">
    <TitleComponent
      id="section1-title"
      classes="h2 heading-2-desktop pb-12"
      content={t("product_page.vesta_security_systems")}
    />
    <TextComponent
      classes="b0 body-0"
      content={t("product_page.three_communication_technologies")}
    />
  </section>
</div>
