<div id="page-container" class="m-4">
	<p class="text-sky-600 text-xl font-bold mb-4">Página de productos!</p>
    <section>
        section 1
    </section>
    <section>
        section 2
    </section>
</div>

