---
import "../../styles/global.css";
import HomeComponent from "../../components/Home.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
// import HeaderComponent from "../../components/Header.astro";
// import FooterComponent from "../../components/Footer.astro";
// import SelectClient from "../components/LanguageDropdown.js";
import { initI18n } from '../../i18n/i18n.ts';
import { getLocalizedPaths } from "../../helpers/utils.ts";

export async function getStaticPaths() {
  return getLocalizedPaths();
}

const { lang } = Astro.props;
const i18n = await initI18n(lang);
const t = i18n.t.bind(i18n);

const meta = t('meta', { returnObjects: true });
---

<BaseLayout lang={lang} meta={meta}>
  <!-- <Fragment slot="title">{t('title')}</Fragment> -->
  <!-- <h1>{t('title')}</h1> -->
  <p class="mx-4">{t('description')}</p>

	<!-- <HeaderComponent /> -->
	<HomeComponent />
	<!-- <FooterComponent /> -->
</BaseLayout>

<!-- <script type="module">
	// safe: run after the element exists in the DOM
	const countrySelect = document.getElementById("countrySelect");
	console.log("select id:", countrySelect.id); // -> "countrySelect"
	countrySelect.addEventListener("change", (e) => {
		console.log("selected value:", e.target.value);
	});
</script> -->
