---
import TitleComponent from '../Title.astro';
import TextComponent from '../Text.astro';
---

<div id="page-container" class="m-4">
    <section>
        <TitleComponent classes="h2 heading-2-desktop" content="VESTA Security Systems: a solution for every need" />
        <TextComponent classes="b0 body-0" content="Three communication technologies that adapt to any home or business issue, with various possibilities for zones and partitions, as well as more than 70 proprietary devices and the integration of leading brands in video surveillance, intrusion detection, and home automation." />
    </section>
    
</div>

